*{
    border: 0px;
    margin: 0px;
}

.section-3{
    height: 100px;
    background-color: #323851;
}

/* ----------------------- */
.section-4{
    display: flex;
    justify-content: center;
    align-content: center;
    margin-bottom: 50px;
    padding: 30px 100px;
    flex-wrap: wrap;
    background-color: rgba(250, 250, 250, 1);
}

.box {
    width: 500px;
    display: block;
    margin-top: 30px;
    padding: 0px 20px;
   
}

.box-container {
    display: flex;
    align-items: center;
}

.box-title {
    /* font-family: 'Be Vietnam'; */
    font-weight: 700;
    color: #323851;
    padding-left: 20px;
}

.number{
    height: 16px;
    width: 16px;
    display: inline-block;
    padding: 10px 25px;
    background-color:#8B48BF;
    color: #fff; 
    border-radius: 30px;
    text-align: center;
    font-weight: 700;
}

.text-color{
    color: #B3B2B7;
}
.align-text {
    padding-left: 86px;
}

/* ----------SECTION 5------------- */
.section-5 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.best-month {
    display: flex;
    width: 90vw;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.month-box{
    background-color: #FAFAFA;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
    
}

.month-box img {
    transform: translateY(-50px);
}

.month-box div {
    background-color: #FAFAFA;
    margin-top: -40px;
}

.best-user-name {
    font-family: Be Vietnam;
    font-weight: 700;
    line-height: 25.17px;
    margin-bottom: 10px;
}

.section-5-title {
    color: #242E53;
    margin-bottom: 50px;
    font-family: Be Vietnam;
    font-weight: 700;
    font-size: 40px;
    line-height: 60px;
    text-align: center;
    
}

.more-btn {
    background-color: #8B48BF;
    opacity: 70%;
    color: white; 
    padding: 10px 50px; 
    text-decoration: none; 
    font-family: Be Vietnam;
    border: none; 
    border-radius: 50px;
    cursor: pointer;
}

.more-btn:hover {
    background-color: green;
  }

/* --------------SECTION 6------------------ */

.section-6{
    margin-top: 100px;
    background-color: #8B48BF;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 224px;
}
.section-6-title {
    font-family:Be Vietnam;
    font-weight: 700;
    font-size: 40px;
    color: white;
    margin: 0;
}
.go-btn{
    padding: 15px 50px; 
    background-color: white;
    border-radius: 50px;
    text-decoration: none;
    text-align: center;
    color: purple;
    border: none; 
}

/* unvisited link */
.go-btn:link {
    color: red;
  }
  
  /* visited link */
  .go-btn:visited {
    color: green;
  }
  
  /* mouse over link */
  .go-btn:hover {
    color: orange;
  }
  
  /* selected link */
  .go-btn:active {
    color: blue;
  }

/* ----------------MEDIA QUERY--------------------------- */


@media (max-width: 480px) {

    /* -------SECTION 4------- */

    .section-4 {
        padding: 0px;
        padding-left: 40px;
    }

    .box {
        width: 100%;
        flex-direction: column; 
        align-items: center;
       padding: 0; 
       margin-top: 30px;
    }

    .box-title {
        margin-bottom: 0; 
        text-align: center;
        padding-left: 20px;
    }

    .box-container {
        width: 100%;
        background-color: rgba(139, 72, 191, 0.3);
        display: flex;
        align-items: center;
        border-radius: 50px 0px 0px 50px;
        margin-bottom: 30px;
    }

    .text-color {
        padding: 0px 25px 0px 10px;
    }
   
    
    /* ----------SECTION 5-------------- */

    .month-box:nth-child(2),
    .month-box:nth-child(3) {
        display: none; 
    }
    
    .best-month {
      width: 90%;
      flex-direction: column; 
    }

    .section-5-title {
      font-size: 45px; 
      
    }

    .more-btn {
      padding: 13px 50px;
      background-color: rgba(139, 72, 191, 1);
      ;
    }
  
    /* ----------SECTION 6----------- */

    .section-6 {
        background-color: #3CDDF3;
        height: auto;
         flex-direction: column;
         margin-top: 50px;
        padding: 20px 0;
    }
  
    .section-6-title {
        width: 290px;
        text-align: center;
        font-size: 40px;
    }
  
    .go-btn {
        background-color: #232C50;
        box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.25);
        color: white;
        margin-top: 50px;
    }
  }

